<ul class="logged-in__inner-nav">
            <li class="logged-in__units logged-in__units--greeting">
              {{greeting}}<br />{{login}}
            </li>
            <li class="logged-in__units logged-in__units--language">
                    <a href="#" class="logged-in__language">Українською</a>
            </li>
            <li class="logged-in__units logged-in__units--log-out">
              <a href="#" class="logged-in__log-out">Вийти</a>
            </li>
          </ul>
          <div class="logged-in__main-content">
            <div class="logged-in__personal-settings">
              <form id="logged-in__personal-form">
                <input
                  id="logged-in__name"
                  class="logged-in__input"
                  type="text"
                  placeholder="Your name"
                  value="{{name}}"
                />
                <input
                  id="logged-in__telephone"
                  class="logged-in__input"
                  type="text"
                  placeholder="Telephone"
                  value="{{telephone}}"
                />
                <input
                  id="logged-in__location"
                  class="logged-in__input"
                  type="text"
                  placeholder="City"
                  value="{{location}}"
                />
                <input
                  id="logged-in__salary"
                  class="logged-in__input"
                  type="text"
                  placeholder="Your preferred salary, USD"
                  value="{{salary}}"
                />
                <textarea
                  id="logged-in__about"
                  class="logged-in__input"
                  type="text"
                  placeholder="Any other related info"
                >{{about}}</textarea>
              </form>
            </div>
            <div class="logged-in__core">{{{coreTable}}}</div>
          </div>